<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.apache.axis"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName">

   <requires>
      <import plugin="org.apache.xerces"/>
   </requires>

   <runtime>
      <library name="axis.jar">
         <export name="*"/>
         <packages prefixes="org.apache.axis"/>
      </library>
      <library name="axis-ant.jar">
         <export name="*"/>
         <packages prefixes="org.apache.axis"/>
      </library>
      <library name="commons-discovery.jar">
         <export name="*"/>
         <packages prefixes="org.apache.commons.discovery"/>
      </library>
      <library name="commons-logging.jar">
         <export name="*"/>
         <packages prefixes="org.apache.commons.logging"/>
      </library>
      <library name="jaxrpc.jar">
         <export name="*"/>
         <packages prefixes="javax.xml"/>
      </library>
      <library name="log4j-1.2.4.jar">
         <export name="*"/>
         <packages prefixes="org.apache.log4j"/>
      </library>
      <library name="saaj.jar">
         <export name="*"/>
         <packages prefixes="javax.xml.soap"/>
      </library>
      <library name="wsdl4j.jar">
         <export name="*"/>
         <packages prefixes="com.ibm.wsdl,javax.wsdl,javax.xml.namespaces"/>
      </library>
   </runtime>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
