.example {
	BACKGROUND: #ccccff
}
.xml {
	BACKGROUND: #eeeeee
}
.java {
	BACKGROUND: #eeeeee
}
BODY {
	MARGIN-LEFT: 40px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
H2 {
	BACKGROUND-POSITION: left 50% ; MARGIN-LEFT: -30px; BACKGROUND-COLOR: #dce1ff; TEXT-DECORATION: underline
}
H3 {
	MARGIN-LEFT: -10px
}
H1 {
	MARGIN-LEFT: -30px
}
.note {
	FONT-WEIGHT: bold
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 240%; TEXT-ALIGN: center
}
TD.section {
	FONT-WEIGHT: bold; FONT-SIZE: 180%; BACKGROUND-COLOR: #82adf6; TEXT-ALIGN: center
}
SMALL.red {
	COLOR: red
}
