# server and/or port. If your wsdl's service is running on a different
# machine and port change the default values for service and port,
SimpleArray:port=
SimpleRef:port=
AxisBench:port=
Calculator:port=
ComplexTypeAll:port=
Enumeration:port=
ExceptionTest:port=
ExtensibilityQuery:port=
FaultMapping:port=
inquire_v2:port=
InteropTestRound1:port=
LargeReturningString:port=
ManyTypeRefRoot:port=
MathOps:port=
RecurseTypes:port=
RpcHttpHeaderTest1:port=
RpcHttpHeaderTest2:port=
RpcHttpHeaderTest3:port=
RpcHttpHeaderTest4:port=
RpcHttpHeaderTest5:port=
RpcHttpHeaderTest7:port=
RpcHttpHeaderTest8:port=
RpcSoapHeaderTest10:port=
RpcSoapHeaderTest1:port=
RpcSoapHeaderTest2:port=
RpcSoapHeaderTest3:port=
RpcSoapHeaderTest4:port=
RpcSoapHeaderTest6:port=
RpcSoapHeaderTest8:port=
RpcSoapHeaderTest9:port=
SimpleTypeArray:port=
SimpleTypeInnerUnboundedInOutput:port=
SimpleTypeInnerUnbounded:port=
