#
# This config file allows the test to run pointing at a different
# server and/or port. If your wsdl's service is running on a different
# machine and port change the default values for service and port,
# which is currently localhost and 9090 respectively.
# This file is grep'd for the values so dont put extra stuff on the end of the lines
# 

SimpleArray:host=localhost
SimpleArray:port=9090
SimpleRef:host=localhost
SimpleRef:port=9090
AxisBench:host=localhost
AxisBench:port=9090
Calculator:host=localhost
Calculator:port=9090
ComplexTypeAll:host=localhost
ComplexTypeAll:port=9090
Enumeration:host=localhost
Enumeration:port=9090
ExceptionTest:host=localhost
ExceptionTest:port=9090
ExtensibilityQuery:host=localhost
ExtensibilityQuery:port=9090
FaultMapping:host=localhost
FaultMapping:port=9090
inquire_v2:host=www-3.ibm.com
inquire_v2:port=9090
InteropTestRound1:host=localhost
InteropTestRound1:port=9090
LargeReturningString:host=localhost
LargeReturningString:port=9090
ManyTypeRefRoot:host=localhost
ManyTypeRefRoot:port=9090
MathOps:host=localhost
MathOps:port=9090
RecurseTypes:host=localhost
RecurseTypes:port=9090
RpcHttpHeaderTest1:host=localhost
RpcHttpHeaderTest1:port=9090
RpcHttpHeaderTest2:host=localhost
RpcHttpHeaderTest2:port=9090
RpcHttpHeaderTest3:host=localhost
RpcHttpHeaderTest3:port=9090
RpcHttpHeaderTest4:host=localhost
RpcHttpHeaderTest4:port=9090
RpcHttpHeaderTest5:host=localhost
RpcHttpHeaderTest5:port=9090
RpcHttpHeaderTest7:host=localhost
RpcHttpHeaderTest7:port=9090
RpcHttpHeaderTest8:host=localhost
RpcHttpHeaderTest8:port=9090
RpcSoapHeaderTest10:host=localhost
RpcSoapHeaderTest10:port=9090
RpcSoapHeaderTest1:host=localhost
RpcSoapHeaderTest1:port=9090
RpcSoapHeaderTest2:host=localhost
RpcSoapHeaderTest2:port=9090
RpcSoapHeaderTest3:host=localhost
RpcSoapHeaderTest3:port=9090
RpcSoapHeaderTest4:host=localhost
RpcSoapHeaderTest4:port=9090
RpcSoapHeaderTest6:host=localhost
RpcSoapHeaderTest6:port=9090
RpcSoapHeaderTest8:host=localhost
RpcSoapHeaderTest8:port=9090
RpcSoapHeaderTest9:host=localhost
RpcSoapHeaderTest9:port=9090
SimpleTypeArray:host=localhost
SimpleTypeArray:port=9090
SimpleTypeInnerUnboundedInOutput:host=localhost
SimpleTypeInnerUnboundedInOutput:port=9090
SimpleTypeInnerUnbounded:host=localhost
SimpleTypeInnerUnbounded:port=9090
