#
# This config file allows the test to run pointing at a different
# server and/or port. If your wsdl's service is running on a different
# machine and port change the default values for service and port,
# which is currently localhost and 80 respectively.
# This file is grep'd for the values so dont put extra stuff on the end of the lines
# 

SimpleArray:host=localhost
SimpleArray:port=80
SimpleRef:host=localhost
SimpleRef:port=80
AxisBench:host=localhost
AxisBench:port=80
Calculator:host=localhost
Calculator:port=80
ComplexTypeAll:host=localhost
ComplexTypeAll:port=80
Enumeration:host=localhost
Enumeration:port=80
ExceptionTest:host=localhost
ExceptionTest:port=80
ExtensibilityQuery:host=localhost
ExtensibilityQuery:port=80
FaultMapping:host=localhost
FaultMapping:port=80
inquire_v2:host=www-3.ibm.com
inquire_v2:port=80
InteropTestRound1:host=localhost
InteropTestRound1:port=80
LargeReturningString:host=localhost
LargeReturningString:port=80
ManyTypeRefRoot:host=localhost
ManyTypeRefRoot:port=80
MathOps:host=localhost
MathOps:port=80
RecurseTypes:host=localhost
RecurseTypes:port=80
RpcHttpHeaderTest1:host=localhost
RpcHttpHeaderTest1:port=80
RpcHttpHeaderTest2:host=localhost
RpcHttpHeaderTest2:port=80
RpcHttpHeaderTest3:host=localhost
RpcHttpHeaderTest3:port=80
RpcHttpHeaderTest4:host=localhost
RpcHttpHeaderTest4:port=80
RpcHttpHeaderTest5:host=localhost
RpcHttpHeaderTest5:port=80
RpcHttpHeaderTest7:host=localhost
RpcHttpHeaderTest7:port=80
RpcHttpHeaderTest8:host=localhost
RpcHttpHeaderTest8:port=80
RpcSoapHeaderTest10:host=localhost
RpcSoapHeaderTest10:port=80
RpcSoapHeaderTest1:host=localhost
RpcSoapHeaderTest1:port=80
RpcSoapHeaderTest2:host=localhost
RpcSoapHeaderTest2:port=80
RpcSoapHeaderTest3:host=localhost
RpcSoapHeaderTest3:port=80
RpcSoapHeaderTest4:host=localhost
RpcSoapHeaderTest4:port=80
RpcSoapHeaderTest6:host=localhost
RpcSoapHeaderTest6:port=80
RpcSoapHeaderTest8:host=localhost
RpcSoapHeaderTest8:port=80
RpcSoapHeaderTest9:host=localhost
RpcSoapHeaderTest9:port=80
SimpleTypeArray:host=localhost
SimpleTypeArray:port=80
SimpleTypeInnerUnboundedInOutput:host=localhost
SimpleTypeInnerUnboundedInOutput:port=80
SimpleTypeInnerUnbounded:host=localhost
SimpleTypeInnerUnbounded:port=80
