<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
    <booleanAttribute
        key="org.eclipse.ui.externaltools.ATTR_RUN_IN_BACKGROUND" value="false"/>
    <stringAttribute
        key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-cvf wsdl2ws.jar -C ..\src\wsdl\bin\ org"/>
    <stringAttribute
        key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,"/>
    <stringAttribute
        key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\susantha\ws-axis\c\bin"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\j2sdk1.4.1_01\bin\jar.exe"/>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_none"/>
</launchConfiguration>
